@model User

<h1 class="h3 mb-4 fw-normal text-center" id="registertext-reg-page">Register</h1>
<form asp-action="RegisterUser" autocomplete="off" asp-controller="Auth" method="post" class="row justify-content-between">
    <hr class="dropdown-divider"/>
    <div class="col-sm-6">
        <small>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control required">
            <label asp-for="FirstName" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control">
            <label asp-for="LastName" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="Email" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control">
            <label asp-for="Email" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="Password" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control">
            <label asp-for="Password" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="Confirm" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="Confirm" class="form-control">
            <label asp-for="Confirm" class="col-form-label"></label>
        </div>
    </div>
    <div class="col-sm-6">
        <small>
            <span asp-validation-for="DOB" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="DOB" class="form-control">
            <label asp-for="DOB" class="col-form-label"></label>
        </div>

        <small>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <select class="form-select" asp-for="Sex">
                <option selected>Open this select menu</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label asp-for="Sex" class="col-form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" asp-for="Pronouns">
                <option selected>Open this select menu</option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                    <option value="Other">Other</option>
                    <option value="NoAnswer">Prefer Not to Answer</option>
            </select>
            <label asp-for="Pronouns" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="PreferredName" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="PreferredName" class="form-control">
            <label asp-for="PreferredName" class="col-form-label"></label>
        </div>
        <small>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </small>
        <div class="form-floating mb-3">
            <input asp-for="PhoneNumber" class="form-control">
            <label asp-for="PhoneNumber" class="col-form-label"></label>
        </div>
    </div>
    
    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <hr class="dropdown-divider"/>
    <div class="col-sm-12" id="btnsubmit-register-page-block">
        <button type="submit" class="btn btn-primary btn-lg my-3 col-sm-12 align-content-end" id="btnsubmit-register-page">Submit</button>
    </div>
</form>
<script>
$('input').attr('autocomplete', 'off');
</script>