@model User

<h1 class="h3 mb-4 fw-normal text-center" id="registertext-reg-page">Register</h1>
<form asp-action="RegisterUser" asp-controller="Auth" method="post">
    <small>
        <span asp-validation-for="FirstName" class="text-red-200"></span>
    </small>
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control">
        <label asp-for="FirstName" class="col-form-label"></label>
    </div>
    <small>
        <span asp-validation-for="LastName" class="text-red-200"></span>
    </small>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control">
        <label asp-for="LastName" class="col-form-label"></label>
    </div>
    <small>
        <span asp-validation-for="Email" class="text-red-200"></span>
    </small>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control">
        <label asp-for="Email" class="col-form-label"></label>
    </div>
    <small>
        <span asp-validation-for="Password" class="text-red-200"></span>
    </small>
    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control">
        <label asp-for="Password" class="col-form-label"></label>
    </div>
    <small>
        <span asp-validation-for="Confirm" class="text-red-200"></span>
    </small>
    <div class="form-floating mb-3">
        <input asp-for="Confirm" class="form-control">
        <label asp-for="Confirm" class="col-form-label"></label>
    </div>
    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary w-100 btn-lg my-3" id="btnsubmit-register-page">Submit</button>
</form>