@model User

@{
    ViewData["Title"] = "Register";
}

<div class="col-sm-9 m-auto my-5">
    @{
        if (TempData["LoginError"] != null)
        {
            <div class="alert bg-red-300 alert-dismissible fade show" role="alert" id="@TempData["LoginError"]">
                <strong>Hey!</strong> Something went wrong.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }


    <div class="card p-3 m-auto border-light border-3 rounded-4 bg-white shadow-lg">
        <partial name="_registerProviderPartial"/>
    </div>

    <p class=" my-2 w-100 text-center m-auto">
        <a asp-action="Login" asp-controller="Auth" class="text-decoration-none">Already an user? <b>Login</b> instead</a>
    </p>
</div>

<script>
let body = document.querySelector('body');
body.classList.add('bg-light');

let btnsubmit = document.querySelector('#btnsubmit-register-page');
btnsubmit.classList.remove('btn-primary');
btnsubmit.classList.remove('col-sm-12');
btnsubmit.classList.add('btn-primary');
btnsubmit.classList.add('col-sm-3');

let btnsubmitblock = document.querySelector('#btnsubmit-register-page-block');
btnsubmitblock.classList.add('d-flex');
btnsubmitblock.classList.add('justify-content-end');

let logintext = document.querySelector('#registertext-reg-page');
logintext.classList.add('text-primary');

if(document.querySelector('#emailnotfound')){
    document.querySelector('#floatingInput').classList.add('is-invalid');
}
if(document.querySelector('#passwordincorrect')){
    document.querySelector('#floatingPassword').classList.add('is-invalid');
}


</script>