@model Medication

<form class="row row-cols-lg-auto g-3 align-items-center" action="/addmed" method="post">
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Medication Name</label>
        <div class="input-group">
            <div class="input-group-text"></div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Medication Name"
                asp-for="Name">
        </div>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="inlineFormSelectPref">Description</label>
        <div class="input-group">
            <div class="input-group-text"></div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Medication Name"
                asp-for="Description">
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary" data-bs-display="static">Add Medication</button>
    </div>
</form>