<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - VirtualClinic</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/btnavhero.css"/>
    <link rel="stylesheet" href="~/css/Theresa.css"/>
    <link rel="stylesheet" href="~/css/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <!--load all Font Awesome styles -->
          <link href="~/css/node_modules/@@fortawesome/fontawesome-pro/css/all.css" rel="stylesheet">
</head>
<body>
<div id="page-container">
  
    @* <header> *@
    @*     <partial name="_MBDnavbar.cshtml"/> *@
    @* </header> *@

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-md-2 col-lg-1 me-0 px-3 fs-2 p-0" href="#"><i class="bi bi-clipboard2-pulse"></i></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> *@
        <div class="w-100"></div>
        @* <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a> *@
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" asp-action="logout" asp-controller="Auth">Logout <i class="fa-duotone fa-arrow-right-to-arc"></i></a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 col-lg-1 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column align-content-center">
                        <li class="nav-item text-center mb-2">
                            <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Dashboard">
                                <i class="fa-duotone fa-grid-horizontal"></i>
                
                            </a>
                        </li>
                        <li class="nav-item text-center mb-2">
                            <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Messages">
                                <i class="fa-duotone fa-messages"></i>
                            </a>
                        </li>
                        <li class="nav-item text-center mb-2">
                            <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Appoitments">
                                <i class="fa-duotone fa-calendar-plus"></i>
                            </a>
                        </li>
                        <li class="nav-item text-center mb-2">
                            <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Attend">
                                <i class="fa-duotone fa-laptop-mobile"></i>
                            </a>
                        </li>
                        @if (@ViewBag.UserLoggedIn.userType == "provider")
                        {
                            <li class="nav-item text-center mb-2">
                                <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Profile">
                                    <i class="fa-duotone fa-user-doctor"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-center mb-2">
                                <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Profile">
                                    <i class="fa-duotone fa-id-badge"></i>
                                </a>
                            </li>
                        }
                            <li class="nav-item text-center mb-2">
                                <a class="btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center" aria-current="page" href="#" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Profile">
                                    <i class="fa-duotone fa-right-from-bracket"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-10 ms-sm-auto col-lg-11 px-md-4">
                <div class="w-100 d-block pb-3"></div>
                @RenderBody()
            </main>
        </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/css/node_modules/autosize/dist/autosize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* theresa's imports *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    @* end of theresa's imports *@
    @await RenderSectionAsync("Scripts", required: false)
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
</div>
</body>
</html>