<body>
<div class="sidebar close">
  
  <div class="logo-details">
    <i class='bx bx-menu' ></i>
    <span class="logo_name">VirtualClinic</span>
  </div>
  @* <div class="logo-details"> *@
  @*   <i class='bx bxl-c-plus-plus'></i> *@
  @*   <span class="logo_name">CodingLab</span> *@
  @* </div> *@
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt'></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Category</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection'></i>
          <span class="link_name">Category</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Category</a></li>
        <li><a href="#">HTML & CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">PHP & MySQL</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt'></i>
          <span class="link_name">Posts</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Posts</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Login Form</a></li>
        <li><a href="#">Card Design</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="link_name">Analytics</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Analytics</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-line-chart'></i>
        <span class="link_name">Chart</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Chart</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug'></i>
          <span class="link_name">Plugins</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Plugins</a></li>
        <li><a href="#">UI Face</a></li>
        <li><a href="#">Pigments</a></li>
        <li><a href="#">Box Icons</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-compass'></i>
        <span class="link_name">Explore</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Explore</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-history'></i>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">History</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="link_name">Setting</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profileImg">-->
        </div>
        <div class="name-job">
          <div class="profile_name">Prem Shahi</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out'></i>
      </div>
    </li>
  </ul>
</div>
  @* <section class="home-section"> *@
  @*   <div class="home-content"> *@
  @*     <i class='bx bx-menu' ></i> *@
  @*     $1$ <span class="text">Drop Down Sidebar</span> #1# *@
  @*   </div> *@
@* </section> *@

@using Microsoft.AspNetCore.Http

<nav class="navbar shadow-sm navbar-expand-md navbar-light border border-top-0 border-end-0 border-start-0 border-2 border-color-yellow-300 bg-white margin-left-sidebar-push" aria-label="Fourth navbar example">
    <div class="container-md">
        <i class='bx bx-menu' id="bx-menu2"></i>
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">VirtualClinic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                @{
                    if (@ViewBag.UserLoggedIn != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="PatientDashboard" asp-controller="Patient">Welcome</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Auth">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="Auth">Register</a>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                @* <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> *@
            </ul>
            @{
                if (@ViewBag.UserLoggedIn != null)
                {
                    <a asp-action="logout" asp-controller="Auth" class='btn btn-sm btn-outline-info' type="button">Logout</a>
                }
                else
                {
                    <button class="btn btn-outline-primary btn-sm" onclick="loginModal('registermodal')">Sign-in | Login</button>
                }
            }
        </div>
    </div>
</nav>

<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  
  let sidebarBtn2 = document.querySelector("#bx-menu2");
    console.log(sidebarBtn2);
    
    sidebarBtn2.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
  </script>
</body>
