@{
    ViewBag.Title = "title";
    Layout = "_LayoutNewCss";
}

<div class="col-12 card" style="height: 600px">
    <h1> Test 2</h1>
    <select class="select">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
    </select>
    
    <div class="form-outline">
      <input type="text" id="formControlLg" class="form-control form-control-lg" />
      <label class="form-label" for="formControlLg">Form control lg</label>
    </div>
    
    <div class="form-outline">
      <input type="text" id="formControlDefault" class="form-control" />
      <label class="form-label" for="formControlDefault">Form control default</label>
    </div>
    
    <div class="form-outline">
      <input type="text" id="formControlSm" class="form-control form-control-sm" />
      <label class="form-label" for="formControlSm">Form control sm</label>
    </div>
</div>
     
