
<html>
<script crossorigin src="https://unpkg.com/@@daily-co/daily-js"></script>

<body>
    <script>
        callFrame = window.DailyIframe.createFrame();
        callFrame.join({ url: 'https://virtualclinic.daily.co/ExamRoom2' });
    </script>
</body>

</html>
