<div class="mainbody">

</div>
<div class="headerdropdown">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
            aria-expanded="false">
            Extra
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Edit Account Info</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
        </ul>
    </div>
</div>

<div class="welcometag">
    <h3>Welcome </h3>
</div>


<div class="dashboard">
    <div>

        <div class="dashleft bg text-align">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRptIbvFgU67rEonXt8DIq-1UB6FSQcemQtdA&usqp=CAU" alt="Profile Picture">
            <p>##FirstName LastName##</p>
            <a href="#" class="btn btn-primary">Edit Profile</a>
        </div>

        <div class="dashleft bg">
            <p>Number of Appointments Today: ##num##</p>
            <p>Forms Available to Send:</p>
            <div class="line"></div>
            <p>Other Links:</p>
            <div class="line"></div>
        </div>

    </div>



    <div class="dash-right">

        <div class="rowone flex">

            <div class="dashboardactions bg text-align">
                <img src="#" alt="Labs">
                <p>Labs To Review</p>
            </div>

            <div class="dashboardactions bg text-align">
                <img src="#" alt="Messages">
                <p>Messages</p>
            </div>

            <div class="dashboardactions bg text-align">
                <img src="#" alt="Next Appt">
                <p>Next Appointment is with : ##Patient##</p>
                <p>Appointment Date and Time: ##Date## ##Time##</p>
            </div>

        </div>

        <div class="rowtwo">

            <div>

                <div>
                    <h4>Appointment Calendar</h4>

                    <div class="dropdown-menu">
                        <partial name="_AddAppt" />
                    </div>
                </div>

                <div class="flex">

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Monday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Tuesday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Wednesday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Thursday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Friday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    @* <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Satuday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title">Sunday</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div> *@

                </div>
            </div>

            <div class="bg">
                <p>Unsigned Notes:</p>
            </div>
        </div>
    </div>
</div>

